/* fonts */
@font-face {
    font-family: 'Eesti Pro';
    src: url('../../fonts/GTEestiProDisplay-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Eesti Pro';
    src: url('../../fonts/GTEestiProDisplay-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Eesti Pro';
    src: url('../../fonts/GTEestiProDisplay-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Eesti Pro';
    src: url('../../fonts/GTEestiProDisplay-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Eesti Pro';
    src: url('../../fonts/GTEestiProDisplay-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Eesti Pro';
    src: url('../../fonts/GTEestiProDisplay-UltraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Eesti Pro';
    src: url('../../fonts/GTEestiProDisplay-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Eesti Pro';
    src: url('../../fonts/GTEestiProDisplay-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

.fill-gradient {
    fill: url(#gradient-horizontal);
}

@tailwind base;

@tailwind components;

@tailwind utilities;
